body{line-height:30px;color:#444444;font-size:16px;font-family: 'Asap', sans-serif;background-color:#f0f0f0;}
body{--pc:#054564;--sc:#8c1c1e;--fc:#dddddd}
p{text-align:justify;}
ul, ol{list-style: none;-webkit-padding-start:0px;-moz-padding-start:0px;}
a{color:var(--pc);}
a:hover, a:active, a:focus{text-decoration:none;color:var(--sc);}
::selection{color:#FFF;background:var(--pc);}
.margin-top-30{margin-top:30px;}
.margin-auto{margin:auto;}
.clr{clear:both;}
.bg-styles{background-size:cover !important;background-position:center !important;}
.inline {display: inline-block;}
*{outline:none !important;}
.left-md-center, .right-md-center{text-align:center;}
.left-md-center img, .right-md-center img{margin:auto;}
.padding-0{padding:0;}
.inline-img{float:none;}
.text-center img{margin:auto;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{color:var(--pc);}
.full-width{width:100%;}
.dashboard_actions{min-width:280px}

.sector_text{text-decoration:none;color:var(--pc);}
.sector_text:hover{color:var(--pc);}
.sector_text:focus{color:var(--pc);}
.sector_active{color:var(--fc);}
.sector_active:hover{color:var(--fc);}
.sector_active:focus{color:var(--fc);}
div.scrollmenu{overflow:auto;white-space:nowrap;}
div.scrollmenu a{display:inline-block;text-align:center;padding:10px;margin-bottom:10px;text-decoration:none;font-size:20px;font-weight:bold;color:var(--fc)}
div.scrollmenu a:hover{color:var(--pc);}
.topic-box{min-width:200px;padding:15px;}
.element-bg{background-size: cover;background-repeat:no-repeat;background-position:center center}

.image-bar{width:100%;height:200px;position:relative;overflow:hidden;}
.image-bar div{width:100%;height:100%;position:absolute;left:0;top:0;opacity:0;transition:opacity 1s;background-size:cover;}
.image-bar div.active{opacity:1;}
.dashboard_info{background-color:#fff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.dashboard_info h4{color:rgba(0,0,0,0.7)}
.dashboard_info span{color:var(--pc);)}
.dashboard_info:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#profile_picture{display:none;}

.scroll-bar{height:90vh;max-height:580px;overflow-y:scroll;overflow-x:hidden;white-space:nowrap;}
.side_bar{position:absolute;top:0;bottom:0;height:100vh;background-color:var(--pc);color:var(--fc);}
.side_bar .scroll-bar{padding-bottom:2.5vh;}
.sidebar-title{background-color:rgba(100,100,100,0.4);color:rgb(150,150,150);font-weight:bold;}
.side_bar a{max-width:50px;color:var(--fc);text-decoration:none;}
.side_bar a .panel_btn:hover{background-color:var(--fc);color:var(--pc)}
.active_dashboard_btn{background-color:var(--fc);color:var(--pc);}
.dashboard_logout_btn{background-color:var(--sc);color:var(--fc);}
.confirm_logout{background-color:var(--sc);color:var(--fc);}
.confirm_logout:hover{background-color:var(--sc);color:var(--fc);}

.content-wraper{display:flex;flex-direction:column;height:100vh;flex-grow: 1;}
.panel-content{position: absolute;right:0}
.body-content{display:flex;/* height:calc(100vh - 60px); margin-bottom:60px; */flex-grow: 1;}
.panel{max-height:70vh;overflow-y:scroll;overflow-x:auto;}
.main-logo{text-align:center;max-width:370px;margin:auto;margin-bottom:24px;}
.welcome{text-align:center;color:var(--pc);font-size:24px;margin-bottom:36px;}
.ea-form form{display:flex;flex-direction:column;margin-bottom:30px;}
.ea-form form input{margin-bottom:12px;height:40px;border-radius:8px;border:1px solid #868686;padding:0 15px;background-color:transparent;}
.other-actions{text-align:start;margin-bottom:36px;font-size:18px;}
.form-btns{display: grid;gap:15px;grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));}
.ea-btns{border:none;font-size:18px;padding: 10px 40px;border-radius:8px;display: inline-block;transition:.3s;}
.ea-btns:hover,.ea-btns:focus,.ea-btns:active{background:var(--sc);color:#FFF;}
.light-btn{background:#ddd;color:var(--pc);}
.dark-btn{background:var(--pc);color:#fff;}
.logo-footer{width:100%;margin-top:30px;}
.footer-logo{text-align:center;}
.footer-logo img{max-height:30px;margin-bottom:30px;}

.submit_btn{background-color: var(--pc) !important;color: var(--fc) !important;}
.submit_btn:hover{background-color:var(--sc) !important;color:var(--fc) !important;}

.ea-form.signup-form form input{margin-bottom:0;height:40px;border-radius:0;border:none;border-bottom:1px solid #868686;padding:0px;background-color:transparent;}
.ea-form.signup-form form{display:grid;gap:0 15px;grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));margin-bottom:30px;}
/* .ea-form.signup-form form select{margin-bottom:12px;height:40px;border-radius:0px;border:none;border-bottom:1px solid #868686;padding:0px;background-color:transparent;color: #757575;} */
.ea-form.signup-form input::after{position:absolute;content:"";bottom:0;right:0;width:0;height:0;border:6px solid transparent;border-color:#757575 transparent transparent}

/* Custom Selects */
.custom-selects{position:relative}
.custom-selects select{display:none}
/* .select-selected {background-color: #757575;} */
.select-selected:before{position:absolute;content:"";top:18px;right:15px;width:0;height:0;border:6px solid transparent;border-color:#757575 transparent transparent}
.select-selected.select-arrow-active:before{border-color:transparent transparent #757575;top:14px}
.select-selected:after{position:absolute;content:"";top:16px;right:15px;width:0;height:0;border:6px solid transparent;border-color:#F0F0F0 transparent transparent}
.select-selected.select-arrow-active:after{border-color:transparent transparent #F0F0F0;top:16px}
.select-selected{color:#757575;padding:4px 0;border-bottom:1px solid #868686;cursor:pointer;text-align:left}
.select-items>div{color:var(--pc);padding:4px 15px;border-bottom:2px solid #fff;cursor:pointer;text-align:left;line-height:20px}
.select-items{position:absolute;background-color:#f0f0f0;top:100%;left:0;right:0;z-index:99;border:1px solid #707070;margin-top:-2px}
.select-hide{display:none}
.select-items div:hover,.same-as-selected{background-color:#ddd}
.signup-btns-con{grid-column: span 2;margin-top:30px;display: grid;justify-items: center;}

.conf-box{background-color:var(--pc);padding: 48px;border-radius:8px;max-width: 350px;margin:auto;}
.conf-txt{color:#FFF;margin-bottom: 18px;font-size:18px;}
.under-box-info{padding:10px 48px;max-width: 350px;margin:auto;line-height: 24px;color:#727272;}
.go-btn{padding: 4px 12px;margin-top:60px;}
.welcome-box{background-color:#FFF;padding:84px 30px;border:1px solid #707070;}
.welcome-box h4{margin-bottom:42px;font-weight:700;}
.welcome-box p{text-align-last:center;}
.welcome-box .btn-confirm{background-color:#2474DD !important;color:#FFF;}
.welcome-cta .ea-btns{padding:4px 42px;}
.welcome2 p, .welcome2 hr{max-width: 260px;margin:auto;text-align: center;}
.welcome2 hr{margin:42px auto 18px auto !important;border-top: 1px solid #707070;}
.btn-danger{background-color:#EB4732 !important;}

.header{position: relative;}
.header::after{content:'';position:absolute;top:0;right:0;bottom:-60px;left:0;background-color:var(--pc);z-index:-1;}
.navbar-brand img{max-height:42px;}
.navbar-collapse{flex-grow:unset;}
.dropdown-toggle::after{content:unset;}
.nav-link{color:#FFF;}
.page-title{font-size:36px;color:#FFF;}
.content-wraper.withnav{background:#f0f0f0;padding: 60px 0 0 0;border-radius:60px;height: calc(100vh - 64px);}
.logo-footer.empty{background-color:var(--pc);}
.profile-pic{width:48px;height:48px;border-radius:50%;}
.ellipsis-item>a{width:46px;height:46px;border-radius:50%;background:#00000050;text-align:center;margin-left:10px;color:#FFF !important;}
.dropdown-menu{width:280px}
.dropdown-menu li a{white-space:normal}
.dropdown-menu-dark{background-color: #04283b;}
.notifications.with-notification::after{content:'';}
.notifications::after{position:absolute;top: 15px;left: 20px;width:10px;height:10px;background:#F00;border-radius:50%;}
.announcement-title{min-height: 300px;background-color:#FFF;border:1px solid #727272;padding:30px;display:flex;border-radius:16px;align-items: center;justify-content: space-evenly;flex-wrap: wrap;margin-bottom: 30px;}
.announcement-logo img{max-height: 180px;}
.announcement-title-txt{color:var(--pc);font-size: 60px;line-height:42px;margin:30px 0;}
.table td, .table th{max-width:320px;height:60px;overflow:hidden;text-align:center;vertical-align:middle;line-height: 1.4;-o-text-overflow: ellipsis;-ms-text-overflow: ellipsis;text-overflow: ellipsis;}
.profile_details{color:var(--pc);}
.notification_item{text-decoration:none;color:var(--pc)}
.notification_item div:hover{background-color:rgba(0,0,0,0.05);border-radius:15px}

.date .form-group{justify-content:flex-end;}
.input-group-append span{border-radius:0 4px 4px 0;border-color: #868686;border-left: none;background: transparent;}
.form-control{background-color:transparent;border: 1px solid #bbbbbb;}

.departments-section{display:flex;flex-wrap:wrap;gap: 30px;justify-content: center;margin: 30px auto;}
.department-box{border-radius: 35px;overflow:hidden;background-color:var(--fc);color:var(--pc);}
.department-box.active{background-color:var(--pc);color:var(--fc);}
.department-title{text-align:center;background-color:var(--pc);/* padding:20px; */color:#FFF;font-size: 24px;border-radius: 0 0 35px 35px;height: 70px;display: flex;align-items: center;justify-content: center;}
.department-box.active .department-title{background-color:var(--fc);color: var(--pc);}
.department-views{padding: 4px 30px;}

.controle{justify-content:space-between;}
.controle>*{margin-top:10px;}
/* .mCustomScrollbar{max-height:calc(100vh - 300px);} */
.incentives-section{display:grid;grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));gap: 20px;margin:10px 10px 0 0;}
.incentive-box{border-radius: 8px;position:relative;border-top:none;}
.incentive-box>span{position:absolute;top:-10px;right:-10px;background:#FFF;border-radius:50%;width:30px;height:30px;color:#C1E3E6;}
.incentive-title{background-color:var(--pc);color:#FFF;font-size:24px;line-height: 42px;border-radius:8px;}
.incentive-body{border-top:none;padding:2px;}
.incentive-txt{font-size:14px;text-align:center;line-height:18px;padding:8px 0;}
.incentive-info-box{display: grid;grid-template-columns: repeat(3, 60px);gap:4px;width:100%;font-size: 13px;line-height:24px;justify-content:space-evenly;}
.incentive-info{padding:2px 0;text-align:center;background-color:var(--pc);color:#FFF;border-radius:8px;}
.incentive-info:nth-child(even){background-color:var(--sc);}

.controle .select-selected{border: 1px solid #868686;cursor:pointer;border-radius: 4px;padding-left: 10px;}
.navbar-toggler{color:#FFF;}
.video-info{display:flex;width:100%;justify-content:space-between;align-items:center;}
.video-caption{text-align:start;}
.video-title h3{margin:0;}
.published{font-size:14px;}
.video-statistics{display:flex;gap:4px;}
.video-statistics>*{background-color:var(--pc);padding:0 4px;border-radius:4px;color:#FFF;white-space: nowrap;}

.comment-box{display:flex;gap:30px;align-items:flex-start;margin-bottom:10px;}
.prof-pic{width: 90px;height: 90px;border-radius:50%;border:1px solid #707070;margin: auto;}
.comment-info{line-height:18px;}
.comment-name{width:100px;max-height: 40px;overflow:hidden;text-overflow:ellipsis;display:block;display:-webkit-box;display:-moz-box;line-height:normal;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow-wrap:break-word;}
.comment-title{font-size:14px;}
.comment-txt{border:1px solid #707070;border-radius:15px;padding:15px;flex-grow:1;word-break:break-all;}
.comment-txt p{margin:0;}
.control-btn{background-color:var(--pc);color:var(--fc);}
.control-btn:hover{background-color:var(--sc);color:#FFFFFF}
.control-btn:focus{background-color:var(--sc);color:#FFFFFF}

.brain-box{margin:30px 0;border-radius:24px;border:1px solid #707070;}
.brain-box-title h5{color:#707070;}
.brain-box-comments .comment-box{border:1px solid #707070;border-radius:8px;padding:24px;align-items:center;}
.brain-box-comments .comment-txt{border:none;border-radius:0;padding:0;flex-grow:1;}
.comment-txt textarea{height:100px;border-radius:18px 0 0 18px;background:#FFF;box-shadow:none !important;border:1px solid #707070 !important;border-right:none !important}
.comment-txt button{background:#FFF;border-left:none;padding:10px 30px;font-size:28px;box-shadow:none !important;border-radius:0 24px 24px 0;}
.comment-txt button:hover,.comment-txt button:active,.comment-txt button:focus{background-color:var(--pc);}

.comment-box.write-comment{border:none !important;background-color: var(--fc);border-radius:36px;}

.related-topics{margin:30px 0;}
.topic-box{background-color:#FFF;border:1px solid #707070;padding-top:100%;border-radius:24px;}












@media (min-width: 576px) {

}

@media (min-width: 768px) {

.col-md-offset-1{margin-right:8.33333333%;margin-left:0;}
.left-md-center{text-align:left !important;}
.right-md-center{text-align:right !important;}
.left-md-center img{margin-left:0;}
.right-md-center img{margin-right:0;}
.inline-img{float:left;margin-right:15px;}
.inline-video{width:50%;}

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
